<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs')%>
    </header>
    <main class="body-container">
      <h1>Log In</h1>
      <div class="signup-form">
        <form action="/session" method="POST">
          <h4>Username:</h4><input class="field-text" type="text" name="username" /><br/>
          <h4>Password:</h4><input class="field-text" type="password" name="password" /><br/>
          <input class="button" type="submit" value="Log In">
        </form>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer.ejs')%>
    </footer>
  </body>
</html>
