<div class="blue-footer">
  <a href="https://www.facebook.com/eyecandy4616/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
</div>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
