<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <header>
      <%- include('./partials/header.ejs')%>
    </header>
    <main class="body-container">
      <nav class="logout-container">
        <a class="logout-button" href="/users/new">Sign Up</a>
        <a class="logout-button" href="/session/new">Log In</a>
      </nav>
      <p class="home-p">If planning your theme party<br/>is making you feel<br/>like you're in the middle of a three-ring circus -<br/>you've come to the right ringmaster...</p>
      <h1 class="home-message"><span>Welcome to<br/></span>Eye Candy Theme Parties</h1>
    </main>
    <footer>
      <%- include('./partials/footer.ejs')%>
    </footer>
  </body>
</html>
