<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <header>
    <%- include('./partials/header.ejs')%>
    </header>
    <main class="body-container">
    <h1>Add a New Treat</h1>
    <div class='container'>
      <form action="/cakes" method="POST">
        <input type="text" placeholder="name" name="name" /><br/>
        <input type="text" placeholder="category" name="category" /><br/>
        <input type="text" placeholder="images (comma separated)" name="img" /><br/>
        <input type="text" placeholder="description" name="description" /><br/>
        <input type="number" placeholder="price" name="price" /><br/>
        <input type="number" placeholder="qty" name="qty" /><br/>
        <input type="submit" value="Create Item">
      </form>
      <a href='/cakes'>Back to Cakes Index</a><br/>
    </div>
  </main>
    <footer>
    <%- include('./partials/footer.ejs')%>
    </footer>
  </body>
</html>
