:root {
  --red: rgb(237,28,36);
  --turquoise: rgb(72,200,247);
}

.header {
  height: 200px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.stripe {
  fill: var(--red);
}

.ringmaster {
  position: absolute;
  top: 25px;
  left: 5%;
  border: 4px solid black;
  border-radius: 50%;
}

.logo {
  position: absolute;
  top: 45px;
  right: 5%;
}

.blue-stripe {
  height: 8px;
  background-color: var(--turquoise);
}

body {
  margin: 0;
  padding: 0;
}

.body-container {
  padding: 0 20px;
  margin: 0 auto;
}

.logout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 15px;
  outline: none;
}

a {
  font-family: 'Voltaire', sans-serif;
  color: var(--red);
}

.logout-button {
  border: none;
  font-family: 'Voltaire', sans-serif;
  color: var(--red);
  font-size: 1.5vw;
  text-align: right;
  width: 80px;
  text-decoration: none;
  padding: 0;
}

.home-p {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 90px;
}

.home-message {
  text-align: center;
  font-family: 'Voltaire';
  font-size: 4.5vw;
  color: var(--red);
}

span {
  color: var(--turquoise);
  font-size: 3.5vw;
}

h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-family: 'Voltaire', sans-serif;
  font-size: 3vw;
}

.signup-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h4 {
  font-family: 'Voltaire', sans-serif;
  margin: 10px 0 5px 0;
  padding: 0;
}

input {
  width: 520px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 5px;
  outline: none;
}

.button {
  height: 50px;
  width: 125px;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.3vw;
  border: 3px solid var(--turquoise);
  background-color: var(--red);
  color: white;
  border-radius: 4%;
  margin: 5px;
  outline: none;
}

.field-text {
  font-family: 'Voltaire', sans-serif;
  font-size: 1vw;
}

h3 {
  color: var(--red);
  font-family: 'Voltaire';
  text-align: center;
}

.welcome {
  margin: 3px 0 30px 20px;
  padding: 0;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images {
  max-width: 235px;
  margin: 5px 25px 0px 25px;
}

p {
  font-family: 'Voltaire', sans-serif;
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2vw;
}

.index-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.new-cake-link {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: none;
  font-family: 'Voltaire', sans-serif;
  color: var(--red);
  font-size: 1.5vw;
  width: 150px;
  text-decoration: none;
}

.under-show-imgs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 15px;
}

.show-index-link {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 1.4vw;
}

.show-info {
  /* margin: 0 auto; */
  text-align: center;
}

ul, li {
  text-decoration: none;
  list-style: none;
  font-family: 'Voltaire', sans-serif;
  padding: 2px;
  font-size: 1.2vw;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 20px;
  outline: none;
}

.edit-button {
  text-align: right;
  padding: 5px;
  margin: 5px;
  border: none;
  font-family: 'Voltaire', sans-serif;
  color: var(--red);
  font-size: 1.5vw;
  width: 40px;
  text-decoration: none;
}

.delete-button {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: none;
  font-family: 'Voltaire', sans-serif;
  color: var(--red);
  font-size: 1.5vw;
  width: 80px;
  text-decoration: none;
}

.edit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-img-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.edit-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.edit-form {
  align-content: center;
}

.edit-links {
  margin-top: 75px;
  padding-bottom: 25px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.show-link {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 1.4vw;
}

.new-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-form {
  justify-content: center;
  margin: 30px;
}

.new-index-link {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  font-size: 1.4vw;
}

footer {
  margin-top: 65px;
  width: 100%;
}

.blue-footer {
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: var(--turquoise);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ion-icon {
  color: white;
  margin-right: 20px;
  margin-top: 18px;
}


@media (max-width: 1180px) {

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.small-screens {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images {
  max-width: 350px;
  margin: 5px 25px 0px 25px;
}

}
