body {
  /* height: 2000px; */
  margin: 0;
  padding: 0;
}

.header {
  height: 200px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.stripe {
  fill: rgb(237,28,36);
}

.ringmaster {
  position: absolute;
  top: 25px;
  left: 5%;
  border: 4px solid black;
  border-radius: 50%;
}

.logo {
  position: absolute;
  top: 45px;
  right: 5%;
}

.blue-stripe {
  height: 8px;
  background-color: rgb(72,200,247);
}

.body-container {
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  padding-top: 25px;
  margin-bottom: 30px;
  font-family: 'Voltaire', sans-serif;
  font-size: 3vw;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.info {
  margin: 0 auto;
  text-align: center;
}

input {
  width: 300px;
}

ul, li {
  text-decoration: none;
  list-style: none;
  font-family: 'Voltaire', sans-serif;
}

a {
    font-family: 'Voltaire', sans-serif;
    color: rgb(237,28,36);
}

p {
    font-family: 'Voltaire', sans-serif;
    text-align: center;
    margin-bottom: 25px;

}

button {
  height: 50px;
  width: 125px;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5vw;
  border: 3px solid black;
  border-radius: 4%;
  margin: 5px;
}

.button {
  height: 50px;
  width: 125px;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5vw;
  border: 3px solid black;
  border-radius: 4%;
  margin: 5px;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
}

.images {
  max-width: 300px;
  margin: 5px 25px 0px 25px;
}

.show-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

footer {
  margin-top: 65px;
}

.blue-footer {
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: rgb(72,200,247);
}
